.cookie-monster-banner {
    display: none;
    width: auto;
    min-height: 20px;
    padding: 30px;
    background: #ffffff;;
    position: fixed;
    bottom: 0px;
    border: 20px;
    box-shadow: 0 0 16px #333;
    opacity: 0;
}

.cookie-monster-banner.cookie-monster-banner__active {
    display: block;
    opacity: 1;
}

.cookie-monster-banner .cookie-monster-banner--title {
    font-size: 25px;
}

.cookie-monster-banner .cookie-monster-banner--content p, fieldset, a {
    font-size: 16px;
}

.cookie-monster-banner .cookie-monster-banner--content a {
    text-decoration: underline;
}

.cookie-monster-banner .cookie-monster-banner--btn-wrapper .cookie-monster-banner--btn {
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
    background: #4caf50;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.cookie-monster-banner .cookie-monster-banner--warning {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
