{% load cookie_monster static %}

{% block banner %}
    <div class="cookieMakerContainer" id="cookieMakerContainer">
        <div class="cookieMakerContainerTitle">
            <h3>{{ COOKIE_BASE.banner_title }}</h3>
        </div>

        <div class="cookieMakerContainerContent">
            <p>{{ COOKIE_BASE.banner_text }}
                {% if COOKIE_BASE.cookie_policy.href %}
                    {{ COOKIE_BASE.cookie_policy.help_text }}
                    <a href="{{ COOKIE_BASE.cookie_policy.href }}">{{ COOKIE_BASE.cookie_policy.label }}</a>
                {% endif %}
            </p>
        </div>

        {% block cookie_group %}
            <div class="cookieMakerContainerBaseButton">
                <a onClick="setCookieBase();">{{ COOKIE_BASE.button_labels.cookie_base_button_label }}</a>
            </div>
        {% endblock %}
    </div>
{% endblock %}

<script>
    window.__js_base_cookie_bridge = {
        cookie_identifier: "{{ COOKIE_BASE.cookie_identifier }}",
        cookie_title: "{{ COOKIE_BASE.cookie_title }}",
        cookie_age: "{{ COOKIE_BASE.cookie_age }}",
    }
</script>

<link rel="stylesheet" type="text/css" href="{% static "cookie_monster/css/styles.css" %}" async/>
<script src="{% static "cookie_monster/js/base.js" %}" async></script>

