{% extends 'cookie_monster/base.html' %}

{% block cookie_group %}
        {% if COOKIE_GROUP %}
            <div class="cookie-monster-banner--content">
                {% for cookie in COOKIE_GROUP %}
                    <fieldset>
                      <label>
                        <input type="checkbox"
                               value="{{ cookie.cookie_title }}"
                               {% if cookie.input_disabled %}disabled="{{ cookie.input_disabled }}" checked{% endif %}
                        >
                        {{ cookie.cookie_title }}</label>
                    </fieldset>
                {% endfor %}

                <div class="cookie-monster-banner--btn-wrapper">
                    <button class="cookie-monster-banner--btn" data-cookiemonster-accept>{{ COOKIE_BASE.button_labels.cookie_group_set_choice_button_label }}</button>
                </div>

                <div class="cookie-monster-banner--btn-wrapper">
                    <button class="cookie-monster-banner--btn" data-cookiemonster-accept="all">{{ COOKIE_BASE.button_labels.cookie_group_set_all_button_label }}</button>
                </div>
            </div>
        {% else %}
            <p class="cookie-monster-banner--warning">{{ COOKIE_GROUP_WARNING }}</p>
        {% endif %}
{% endblock %}
